<div class="d-flex flex-column justify-content-start m-auto">
  <div class="signin-box">
    <progress class="marvel-progress marvel-progress__theme" *ngIf="_isSubmitting"></progress>
    <div class="signin-box-header">
      <img class="logo" [src]="_config?.theme?.logos?.signin" />
    </div>
    <div class="signin-box-body">
      <form name="signinForm" [formGroup]="_signinForm" novalidate (submit)="onSubmit()">
        <div class="row">
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.email?.firstMessage | translate }} {{
                __marvelFormErrors?.email?.lastMessage | translate
              }}"
              formControlName="email"
              icon="mail-20"
              name="email"
              [placeholder]="'FIELDS.EMAIL' | translate"
            >
            </marvel-input>
          </div>
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.password?.firstMessage | translate }} {{
                __marvelFormErrors?.password?.lastMessage | translate
              }}"
              formControlName="password"
              name="password"
              type="password"
              [placeholder]="'FIELDS.PASSWORD' | translate"
            >
            </marvel-input>
          </div>
        </div>
      </form>
      <div class="mt-2">
        <marvel-button color="theme" (click)="onSubmit()" [disabled]="_isSubmitting">
          {{ 'BUTTONS.SIGNIN' | translate }}
        </marvel-button>
      </div>
      <div class="mt-4">
        {{ 'SIGNIN.SOCIAL' | translate }}
      </div>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <marvel-button
          color="google"
          (click)="onGoogleSignin()"
          [disabled]="_isSubmitting"
          class="mr-4"
        >
          <marvel-icon icon="google-20" color="#ffffff"></marvel-icon>
          <span>Google</span>
        </marvel-button>
        <marvel-button color="facebook" (click)="onFacebookSignin()" [disabled]="_isSubmitting">
          <marvel-icon icon="facebook-22" color="#ffffff"></marvel-icon>
          <span>Facebook</span>
        </marvel-button>
      </div>
    </div>
  </div>
</div>
<div class="signin-footer">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    <shared-language-choose class="mb-3"></shared-language-choose>
    <div class="d-flex align-items-center mb-3">
      <span class="mr-4">
        {{ 'SIGNIN.HAVE-NO-PASS' | translate }}
      </span>
      <marvel-button type="border" [disabled]="_isSubmitting" (click)="onHandleSignup()">
        <span>
          {{ 'BUTTONS.REGISTER' | translate }}
        </span>
      </marvel-button>
    </div>
  </div>
</div>
