shared-list-content-cover {
  display: flex;
  justify-content: center;

  .logo {
    height: 225px;
    max-width: 150px;
  }

  .loading {
    width: 225px !important;
    height: 100% !important;
  }
}
