<div class="d-flex flex-column justify-content-start m-auto">
  <div class="signup-box">
    <progress class="marvel-progress marvel-progress__theme" *ngIf="_isSubmitting"></progress>
    <div class="signup-box-header">
      <img class="logo" [src]="_config?.theme?.logos?.signup" />
    </div>
    <div class="signup-box-body">
      <form name="signupForm" [formGroup]="_signupForm" novalidate>
        <div class="row">
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.displayName?.firstMessage | translate }} {{
                __marvelFormErrors?.displayName?.lastMessage | translate
              }}"
              formControlName="displayName"
              name="name"
              [placeholder]="'FIELDS.NAME' | translate"
            >
            </marvel-input>
          </div>
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.email?.firstMessage | translate }} {{
                __marvelFormErrors?.email?.lastMessage | translate
              }}"
              formControlName="email"
              name="email"
              [placeholder]="'FIELDS.EMAIL' | translate"
            >
            </marvel-input>
          </div>
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.password?.firstMessage | translate }} {{
                __marvelFormErrors?.password?.lastMessage | translate
              }}"
              formControlName="password"
              name="password"
              type="password"
              [placeholder]="'FIELDS.PASSWORD' | translate"
            >
            </marvel-input>
          </div>
          <div class="col-md-12">
            <marvel-input
              errorMessage="{{ __marvelFormErrors?.passwordConfirm?.firstMessage | translate }} {{
                __marvelFormErrors?.passwordConfirm?.lastMessage | translate
              }}"
              formControlName="passwordConfirm"
              name="passwordConfirm"
              type="password"
              [placeholder]="'FIELDS.CONFIRM-PASSWORD' | translate"
            >
            </marvel-input>
          </div>
        </div>
      </form>
      <div class="mt-2">
        <marvel-button color="theme" (click)="onSubmit()" [disabled]="_isSubmitting">
          {{ 'BUTTONS.CREATE-ACCOUNT' | translate }}
        </marvel-button>
      </div>
      <div class="mt-4">
        {{ 'SIGNUP.SOCIAL' | translate }}
      </div>
      <div class="d-flex justify-content-center align-items-center mt-4">
        <marvel-button
          color="google"
          (click)="onHandleGoogleSignup()"
          [disabled]="_isSubmitting"
          class="mr-4"
        >
          <marvel-icon icon="google-20" color="#ffffff"></marvel-icon>
          <span>Google</span>
        </marvel-button>
        <marvel-button
          color="facebook"
          (click)="onHandleFacebookSignup()"
          [disabled]="_isSubmitting"
        >
          <marvel-icon icon="facebook-22" color="#ffffff"></marvel-icon>
          <span>Facebook</span>
        </marvel-button>
      </div>
    </div>
  </div>
</div>
<div class="signup-footer">
  <div class="d-flex justify-content-between align-items-center">
    <shared-language-choose class="mb-3"></shared-language-choose>
    <div class="d-flex align-items-center mb-3">
      <span class="mr-4">
        {{ 'SIGNUP.HAVE-PASS' | translate }}
      </span>
      <marvel-button
        type="border"
        color="none"
        [disabled]="_isSubmitting"
        [routerLink]="['/auth/signin']"
      >
        <span>
          {{ 'BUTTONS.BACK-SIGNIN' | translate }}
        </span>
      </marvel-button>
    </div>
  </div>
</div>
