<div class="container p-1 hidden-md hidden-lg">
  <div class="d-flex justify-content-between align-items-center full-width">
    <div class="logo">
      <img class="logo-icon" [src]="_config?.theme?.logos?.toolbar" />
    </div>
    <marvel-button
      type="none"
      class="mr-3"
      [color]="_router.isActive('/main/logged-in/home', false) ? 'theme' : 'none'"
      [routerLink]="['/main/logged-in/home']"
    >
      {{ 'BUTTONS.HOME' | translate }}
    </marvel-button>
    <marvel-button
      type="none"
      class="mr-3"
      [color]="_router.isActive('/main/logged-in/my-comics', false) ? 'theme' : 'none'"
      [routerLink]="['/main/logged-in/my-comics']"
    >
      {{ 'BUTTONS.MY-COMICS' | translate }}
    </marvel-button>
    <marvel-button
      type="none"
      class="mr-3"
      [color]="_router.isActive('/main/logged-in/my-favorites', false) ? 'theme' : 'none'"
      [routerLink]="['/main/logged-in/my-favorites']"
    >
      {{ 'BUTTONS.MY-FAVORITES' | translate }}
    </marvel-button>
  </div>
  <div class="d-flex justify-content-between align-items-center full-width mt-3">
    <marvel-button
      type="none"
      class="mr-3"
      [color]="_router.isActive('/main/logged-in/my-orders', false) ? 'theme' : 'none'"
      [routerLink]="['/main/logged-in/my-orders']"
    >
      {{ 'BUTTONS.MY-ORDERS' | translate }}
    </marvel-button>
    <div class="mr-3">
      {{ _me?.displayName | marvelTextTruncate }}
    </div>
    <marvel-button type="border" color="muted" (click)="onSignOut()">
      {{ 'BUTTONS.LOGOUT' | translate }}
    </marvel-button>
  </div>
</div>
<div class="container hidden-xs hidden-sm">
  <div class="d-flex justify-content-between align-items-center full-wh p-2">
    <div class="logo">
      <img class="logo-icon" [src]="_config?.theme?.logos?.toolbar" />
    </div>
    <div class="d-flex align-items-center">
      <marvel-button
        type="none"
        class="mr-3"
        [color]="_router.isActive('/main/logged-in/home', false) ? 'theme' : 'none'"
        [routerLink]="['/main/logged-in/home']"
      >
        {{ 'BUTTONS.HOME' | translate }}
      </marvel-button>
      <marvel-button
        type="none"
        class="mr-3"
        [color]="_router.isActive('/main/logged-in/my-comics', false) ? 'theme' : 'none'"
        [routerLink]="['/main/logged-in/my-comics']"
      >
        {{ 'BUTTONS.MY-COMICS' | translate }}
      </marvel-button>
      <marvel-button
        type="none"
        class="mr-3"
        [color]="_router.isActive('/main/logged-in/my-favorites', false) ? 'theme' : 'none'"
        [routerLink]="['/main/logged-in/my-favorites']"
      >
        {{ 'BUTTONS.MY-FAVORITES' | translate }}
      </marvel-button>
      <marvel-button
        type="none"
        class="mr-3"
        [color]="_router.isActive('/main/logged-in/my-orders', false) ? 'theme' : 'none'"
        [routerLink]="['/main/logged-in/my-orders']"
      >
        {{ 'BUTTONS.MY-ORDERS' | translate }}
      </marvel-button>
      <div class="mr-3">
        {{ _me?.displayName | marvelTextTruncate }}
      </div>
      <marvel-button type="border" color="muted" (click)="onSignOut()">
        {{ 'BUTTONS.LOGOUT' | translate }}
      </marvel-button>
    </div>
  </div>
</div>
