@import 'src/assets/scss/components/breakpoints';

shared-list-content-details-character {
  height: 225px;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, #000000 100%),
    var(--mc-content-details-character-image) no-repeat center center;

  @include media-breakpoint('gt-xs') {
    background-size: cover;
    max-width: 150px;
  }

  .title {
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #ffffff;
    padding: 4px;
  }
}
