<div class="details">
  <div class="d-flex flex-column flex-md-row justify-content-start">
    <shared-list-content-details-cover
      [data]="{
        cover: 'http://i.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_xlarge.jpg'
      }"
    ></shared-list-content-details-cover>
    <div class="d-flex flex-column justify-content-between full-width">
      <shared-list-content-details-header></shared-list-content-details-header>
      <shared-list-content-details-footer></shared-list-content-details-footer>
    </div>
  </div>
</div>
<div class="characters">
  <div class="row">
    <div class="col-md-2 mb-2">
      <shared-list-content-details-character
        [data]="{
          cover: 'http://i.annihil.us/u/prod/marvel/i/mg/3/40/4bb4680432f73/portrait_xlarge.jpg'
        }"
      ></shared-list-content-details-character>
    </div>
    <div class="col-md-2 mb-2">
      <shared-list-content-details-character
        [data]="{
          cover: 'http://i.annihil.us/u/prod/marvel/i/mg/6/a0/5112d8b6e596c/portrait_xlarge.jpg'
        }"
      ></shared-list-content-details-character>
    </div>
  </div>
</div>
