<div class="d-flex flex-column justify-content-start full-width">
  <marvel-button type="border" color="white" (click)="goBack()">
    <marvel-icon icon="arrow-left-20" color="#aaaaaa"></marvel-icon>
    {{ 'BUTTONS.BACK' | translate }}
  </marvel-button>
  <shared-list-content-details
    class="mt-5"
    [comic]="_comic"
    [characters]="_comicCharacters"
    [settings]="{
      edit: onHandleEdit.bind(this, _comic),
      favorite: onHandleFavorite.bind(this, _comic)
    }"
    [isLoading]="_isLoading"
  ></shared-list-content-details>
</div>
