@import 'src/assets/scss/components/breakpoints';

shared-list-content-footer {
  margin-left: 24px;

  marvel-button {
    @include media-breakpoint('xs') {
      margin-top: 8px;
      width: 100%;
    }

    button {
      text-align: center;
      width: 100%;
      height: 36px;

      @include media-breakpoint('gt-xs') {
        width: 120px;
      }
    }
  }
}
