<div class="d-flex flex-column justify-content-end align-items-end">
  <div *ngIf="!enableEdit; else edit">
    <marvel-button type="primary" color="theme">
      {{ 'BUTTONS.BUY' | translate }}
    </marvel-button>
    <marvel-button type="border" color="muted" class="mt-2">
      <marvel-icon icon="heart-20" color="#aaaaaa"></marvel-icon>
      {{ 'BUTTONS.FAVORITE' | translate }}
    </marvel-button>
  </div>
  <ng-template #edit>
    <marvel-button type="primary" color="question" (click)="settings?.edit()">
      {{ 'BUTTONS.EDIT' | translate }}
    </marvel-button>
    <marvel-button type="border" color="muted" class="mt-2" (click)="settings?.remove()">
      {{ 'BUTTONS.REMOVE' | translate }}
    </marvel-button>
  </ng-template>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between align-items-end">
  <marvel-button type="border" color="muted">
    {{ 'BUTTONS.MORE-INFO' | translate }}
  </marvel-button>
  <div class="mt-2">
    <b>Created At</b>
    {{ data?.createdAt | marvelFormatDateTimelapse }}
    <b>by</b>
    {{ data?.createdByName }}
  </div>
</div>
