<div class="d-flex flex-column justify-content-end align-items-end">
  <marvel-button type="primary" color="theme">
    {{ 'BUTTONS.BUY' | translate }}
  </marvel-button>
  <marvel-button type="border" color="muted" class="mt-2">
    <marvel-icon icon="heart-20" color="#aaaaaa"></marvel-icon>
    {{ 'BUTTONS.FAVORITE' | translate }}
  </marvel-button>
</div>
<div class="d-flex flex-column flex-md-row justify-content-between align-items-end">
  <marvel-button type="border" color="muted">
    {{ 'BUTTONS.MORE-INFO' | translate }}
  </marvel-button>
  <div class="mt-2">
    <b>Created At</b>
    03/22/2021
    <b>by</b>
    Lucas Baumgart
  </div>
</div>
