@import 'src/assets/scss/theme';

app-footer {
  background: #000000;
  backdrop-filter: blur(12px);
  height: 118px;
  width: 100%;
  display: flex;
  justify-content: center;

  @include media-breakpoint('xs') {
    padding: 10px;
  }

  .container {
    width: 100%;
    max-width: 1080px;
  }

  .logo {
    width: 62px;
    height: 44px;
  }

  .copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 95.69%;
    letter-spacing: -0.025em;
    color: rgba(255, 255, 255, 0.9);
  }

  .icon {
    cursor: pointer;
  }
}
