<marvel-modal [config]="config" [modalRef]="modalRef" (onHandleConfirm)="onHandleConfirm()">
  <div class="row-search" *ngIf="!_form?.get('comicId').value">
    <marvel-select-search
      [placeholder]="'MODAL.REGISTER.SEARCH-BY' | translate"
      (onChange)="onChangeComics($event, true)"
      (onScrolled)="onScrolledComics($event)"
      (onSearch)="onSearchComics($event)"
      [showProgress]="_isLoadingComics"
      *ngIf="_comics"
      fieldToCompare="comicId"
    >
      <marvel-option [value]="comic" [type]="'custom'" *ngFor="let comic of _comics">
        <div class="d-flex just align-items-center comic-option">
          <img
            [src]="comic?.thumbnail_path + '/portrait_small.jpg'"
            class="logo"
            width="65"
            height="65"
          />
          <div class="d-flex flex-column ml-3">
            <div class="mb-2">
              <span class="title mr-1"> {{ 'FIELDS.TITLE' | translate }}: </span>
              <span class="data">
                {{ comic?.title }}
              </span>
            </div>
            <div class="mb-2">
              <span class="title mr-1">{{ 'FIELDS.FORMAT' | translate }}:</span>
              <span class="data-muted">
                {{ comic?.format }}
              </span>
            </div>
            <div class="mb-2">
              <span class="title mr-1">{{ 'FIELDS.PAGE-NUMBER' | translate }}:</span>
              <span class="data-muted">
                {{ comic?.pageCount }}
              </span>
            </div>
          </div>
        </div>
      </marvel-option>
    </marvel-select-search>
  </div>
  <div class="row-form mt-4" *ngIf="_form?.get('comicId').value">
    <div class="d-flex justify-content-between comic-option selected mb-2">
      <div class="d-flex align-items-center">
        <img
          [src]="_form?.get('thumbnail_path').value + '/portrait_small.jpg'"
          class="logo"
          width="65"
          height="65"
        />
        <div class="d-flex flex-column ml-3">
          <div class="mb-2">
            <span class="title mr-1"> {{ 'FIELDS.TITLE' | translate }}: </span>
            <span class="data">
              {{ _form?.get('title').value }}
            </span>
          </div>
          <div class="mb-2">
            <span class="title mr-1">{{ 'FIELDS.FORMAT' | translate }}:</span>
            <span class="data-muted">
              {{ _form?.get('format').value }}
            </span>
          </div>
          <div class="mb-2">
            <span class="title mr-1">{{ 'FIELDS.PAGE-NUMBER' | translate }}:</span>
            <span class="data-muted">
              {{ _form?.get('pageCount').value }}
            </span>
          </div>
        </div>
      </div>
      <marvel-icon
        icon="trash-24"
        color="#AAAAAA"
        (click)="onChangeComics(null, false)"
        *ngIf="_comicModel?.screenType === 'new'"
      ></marvel-icon>
    </div>

    <div class="row">
      <div class="col-md-12">
        <marvel-select
          [placeholder]="'FIELDS.CONDITION' | translate"
          [formControl]="_form.controls['condition']"
          errorMessage="{{ __marvelFormErrors?.condition?.firstMessage | translate }} {{
            __marvelFormErrors?.condition?.lastMessage | translate
          }}"
        >
          <marvel-option
            [label]="'CONDITIONS.' + condition | translate"
            [value]="condition"
            *ngFor="let condition of _conditions"
          >
          </marvel-option>
        </marvel-select>
      </div>
    </div>

    <marvel-input
      errorMessage="{{ __marvelFormErrors?.price?.firstMessage | translate }} {{
        __marvelFormErrors?.price?.lastMessage | translate
      }}"
      [formControl]="_form.controls['price']"
      name="price"
      currency
      [placeholder]="'FIELDS.PRICE' | translate"
    >
    </marvel-input>

    <marvel-textarea
      errorMessage="{{ __marvelFormErrors?.description?.firstMessage | translate }} {{
        __marvelFormErrors?.description?.lastMessage | translate
      }}"
      [formControl]="_form.controls['description']"
      name="description"
      [placeholder]="'FIELDS.DESCRIPTION' | translate"
    >
    </marvel-textarea>
  </div>
</marvel-modal>
