shared-comics-register {
  .row-search {
    marvel-select-search mc-form-field mc-form-field-footer {
      display: none;
    }

    mc-select-inside {
      position: absolute !important;
      margin-top: 58px !important;
      padding-left: 48px !important;
      padding-right: 48px !important;
    }
  }

  .comic-option {
    .title {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.025em;
      color: #161616;
    }

    .data {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.025em;
      color: #161616;
    }

    .data-muted {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.025em;
      color: #161616;
    }

    &.selected {
      background: #ffffff;
      padding: 24px;

      marvel-icon {
        cursor: pointer;
      }
    }
  }

  .row-form {
    mc-select-inside {
      position: absolute !important;
      margin-top: 58px !important;
    }

    mc-select__trigger {
      color: #aaaaaa;
    }
  }
}
