<div class="d-flex flex-column full-width">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column flex-md-row justify-content-start align-items-start">
      <span class="title mr-1">Title: </span>
      <span class="data">Avengers (2003)</span>
    </div>
    <div class="d-flex align-items-center price">
      <span class="title-muted mr-1">Price</span>
      <span class="data-rised">$ 18</span>
    </div>
  </div>
  <div class="d-flex justify-content-start row-data">
    <span class="title mr-1">Format:</span>
    <span class="data">Comic Hand Book</span>
  </div>
  <div class="d-flex justify-content-start row-data">
    <span class="title mr-1">Pages:</span>
    <span class="data">34</span>
  </div>
  <div class="d-flex justify-content-start row-data">
    <span class="title mr-1">Condition:</span>
    <span class="data">Good</span>
  </div>
</div>
