<div class="d-flex flex-column justify-content-between full-width" *ngIf="!isLoading">
  <div class="d-flex flex-column align-items-start mt-2 mb-5">
    <span class="title">
      {{ 'FIELDS.DESCRIPTION' | translate }}
    </span>
    <span class="data mt-2">
      {{ data?.description }}
    </span>
  </div>
  <div class="d-flex justify-content-start">
    <span class="title mr-2"
      ><b>
        {{ 'FIELDS.CREATED-AT' | translate }}
      </b></span
    >
    <span class="data mr-2">
      {{ data?.createdAt | marvelFormatDateTimelapse }}
    </span>
    <span class="title mr-2"
      ><b>
        {{ 'FIELDS.BY' | translate }}
      </b></span
    >
    <span class="data mr-2">
      {{ data?.createdByName }}
    </span>
  </div>
</div>
