@import 'src/assets/scss/components/breakpoints';

shared-list-content-details-footer {
  @include media-breakpoint('gt-xs') {
    margin-left: 24px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.025em;
    color: #ffffff;
  }

  .data {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.025em;
    color: #ffffff;
    text-align: left;
  }

  marvel-button {
    button {
      text-align: center;
      width: 120px;
      height: 36px;
    }
  }
}
